body{
  margin: 0;
  padding: 0;
  background-image: url(../img/bg_pink.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container{
  margin-top: 12%;
  margin-left: 15%;
}

#name{
  color: white;
  font-family: 'Pacifico', cursive;
  font-size: 128px;
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

#startbtn{
  margin-left: auto;
  border-radius: 9px;
  color: #fff;
  font-size: 165%;
  padding: 10px 20px;
  border: solid #fff 3px;
  background-color: transparent;
  text-decoration: none;
}

#startbtn:hover {
  color: #35889A;
  border: solid #35889A 3px;
}



@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0);
  }

  75% {
    transform: translate3d(0, -10px, 0);
  }

  90% {
    transform: translate3d(0, 5px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
